.social{
    background:#000;
    padding:10px 0;
}
.social-wrapper .social-icon a{
    float:left;
    font-size:13px;
    color:#fff;
}
.social-wrapper .social-icon a:hover{
    color:#82ca9c;
}
.social-wrapper .social-icon a i{
    padding-right:10px;
}
.social-wrapper .social-contact{
    float:right;
    font-size:13px;
}
.social-wrapper .social-contact a{
    color:#fff;
    margin-right:20px;
}
.social-wrapper .social-contact a:hover{
    color:#82ca9c;
}
.social-wrapper .social-contact a i{
    padding-right:5px;
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
    border-radius:0;
    padding-top:20px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #82ca9c;
    background-color:transparent;
}
.navbar-default .navbar-nav>li>a {
    color: #000;
    font-size:14px;
    font-weight:600;
	text-transform:uppercase;
}
.navbar-default .navbar-nav li a :hover{
    color: #82ca9c;
}
.navbar-default .collapse .login a{
    color: #82ca9c;
    border: 1px solid #82ca9c;
    border-radius: 20px;
    padding: 4px 30px;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 30px;
    display:inline-block;
    overflow:hidden;
}
.navbar-default .collapse .login:hover a{
    background-color: rgba(0, 173, 62, 0.75);
    color:#fff;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #82ca9c;
    background-color: transparent;
}
.home-wrap h2,
.home-wrap h3,
.home-wrap h4,
.home-wrap h5,
.home-wrap p {
    color:black solid;
    font-family: 'roboto', sans-serif;
}
.overlay-fluid-block {
    background-color: rgba(0, 0, 0, 0.15);
    width: 100%;
}
.home{
    color:#000;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
}
.home-wrapper{
    padding:180px 0px;
    overflow:hidden;
}
.home-content h1{
    font-size:48px;
    font-weight:700;
    margin-bottom: 30px;
    color: black solid;
}
.home-content p{
    margin-bottom: 30px;
    color: Black solid;
}
.home-content .home-contact{
    margin-top: 90px;
}

.home-contact .input-group{display: block;}
.home-content .input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 65%;
    margin-bottom: 0;
    height: 60px;

}
.home-content .home-contact input[type="text"]{
    color:#82ca9c;
}
.home-content .home-contact input[type="submit"]{
    display:inline-block;
    width:35%;
    background:#82ca9c;
    color:#fff;
	border: 0px;
}
.home-content .home-contact input[type="submit"]:hover{
	background-color: rgba(0, 173, 62, 0.75);
}