<section  class="social">
    <div class="container">
        <div class="row">
            <div class="social-wrapper">
                <div class="col-md-6">
                    <div class="social-icon">
                        <a href="https://www.facebook.com/fedi.mejri.7"  target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="https://twitter.com/"  target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="https://google.com"  target="_blank"><i class="fa fa-google-plus"></i></a>
                        <a href="https://www.linkedin.com/in/mohamed-fedi-mejri-b5a316179/"  target="_blank"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="social-contact">
                        <a href="#"><i class="fa fa-phone"></i>+216 29224634</a>
                        <a href="#"><i class="fa fa-envelope"></i>mejri.fedi.95@gmail.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    Menu
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="home">Home</a></li>
                <li class="login"><a href="login" >Sign In</a></li>
                <li class="login"><a href="register-coach">Sign up (coach)</a></li>
                <li class="login"><a href="register">Sign up (user)</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<header id="home" class="home">
    <div class="overlay-fluid-block" [ngStyle]="{'background' : 'url(./assets/img/bg.jpg)'}">
        <div class="container text-center">
            <div class="row">
                <div class="home-wrapper">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="home-content">
                            <h1>Bring your Big Data to Life With Agenda</h1>
                            <p>This application gives you the opportunity to make your life better and helps you to manage your habits and goals and watch you progress</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>			
    </div>
</header>